<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/elide</property>
        <property name="connection.username">elide</property>
        <property name="connection.password">elide123</property>

        <!-- Hibernate settings -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Names the annotated entity class -->
        <mapping class="com.yahoo.elide.example.models.User"/>
        <mapping class="com.yahoo.elide.example.models.Post"/>
        <mapping class="com.yahoo.elide.example.models.Comment"/>
    </session-factory>
</hibernate-configuration>
